### Intellij IDEA ###
.idea/
.idea/artifacts
.idea/compiler.xml
.idea/modules.xml
*.iml
*.iws

### Maven ###
log/
target/

### Java ###
*.class
*.jar
*.war
*.ear

### Other Files ###
*.log
*.rar
*.zip
*.tar.gz